.form{
    position: relative;
    left: 500px;
}
h1{
    position: relative;;
    color: #505459;

}
h6{
    position: relative;;


}
 #text2{
    background-color: rgb(31, 159, 194);
    text-align: center;
    color: antiquewhite ;
    border-left: 15PX;
   
}
#colFormLabelSm{
    width: 50%;
    height:100%;
    background-color:rgba(255,255,255,255)
    
}
#inputtext{
    width: 50%;
    height:100%;
    


}
.form-control{
    width: 50%;
    height:100%




}
form{
   
}

