#menu
{
    border: 1px solid #c7c5c5;
}
.contenu-dasboard
{
    display: flex;
    background-color: rgb(243, 183, 183);
    width: 78%;
    height: 500px;
    margin: auto;
    position: relative;
    top: -270px;
    left: 140px;
    text-align: center;
    
}

.entete
{
    width: 70%;
    height: 40px;
    background-color: #DDE8F4;
    display: flex;
    border-radius: 30px;
    /* padding:1px; */
    /* align-items: center; */
    /* justify-content: space-around; */
}
.gauche
{
    background-color: #4A90E2;
    color: white;
    height: 100%;
    width: 55%;
    border-radius: 30px;
    text-align: center;
}