
* {
    margin: 0;
    padding: 0;
}
.header
{
    display: grid;
    grid-template-columns:100%;
    /* background-color: red; */
    height: 50px;
    width: 100%;
    position: fixed;    
    z-index: 100;
    
}


#menu 
{
    border: 1px solid #c7c5c5;
}
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    background-color: #F8F9FA;
    height: 100%;
    z-index: 99;
border: 1px solid #c7c5c5;
    
}
.containt
{
    margin-top: 100px;
}
.main-content
{
    /* background-color: red; */
    height: 100%;
    width: 60%;
    position: relative;
    left: 330px;
    top: 80px;
    /* margin: 0 auto; */
}
.entete {
    width: 100%;
    height: 40px;
    background-color: #DDE8F4;
    display: flex;
    border-radius: 30px;
    /* padding:1px; */
    /* align-items: center; */
    /* justify-content: space-around; */
}

.gauche {
    background-color: #4A90E2;
    color: white;
    height: 100%;
    width: 40%;
    border-radius: 30px;
    text-align: center;
    padding: 5px;
}
.droite
{
    text-align: center;
    padding: 5px;

}
#btn-dashbord
{
    height: 50px;
    width: 100%;
    border: none;
    background-color: #FFFFFF;
    
}
#btn-dashbord-one
{
    height: 50px;
    width: 100%;
    border: none;
    background-color: #FFFFFF;
    border-left: 3px solid black;
}
#teste
{
    position: relative;
    right: -100px;
}