.header h1, p
{
    color: #28384D;
}
.row
{
    justify-content: center;
}
.lien
{
    text-decoration: none;
    color: rgb(63, 85, 175);
}
.lien:hover
{
    text-decoration: underline;
    color: #3F55AF;
}
.card-body h5
{
    text-align: left;
    font-size: 15px;
}
.btn-sm
{
    width: 100%;
}
.card-body p
{
   text-align: left;
}
.card-header
{
    background-color: #D9EDF7;
}
.card-header small
{
    color: #31708F;
}
.bordure
{
    border: 1px solid #31708F;
}
.btn-commencer:hover
{
    background-color: rgb(230, 229, 229);
    color: rgb(99, 107, 111);
}
hr
{
    color:rgb(195, 197, 198);
}