/* css navbar */
header{
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
}
#nav{
    color: #707370;
    padding-left: 100px;
}
#nav:hover{
    color: white;
}
i:hover{
    color: white;
}
#nav-item{
    color: #707370;
    padding-left: 600px;
}
#nav-item a:hover{
    color: white;
}
/* css navbar */
.none{
    margin-top: 100px;
}
.contenu
{
    display: grid;
    grid-template-columns: 6fr 3fr;
    /* border: 1px solid red; */
    height: 1300px;
    gap: 20px;

}
.left
{
    /* border: 1px solid #3F55AF; */
    height: 1200px;
}

.right
{
    /* border: 1px solid rgb(0, 140, 255); */
    width: 100%;
    height: 760px;
    display: grid;
    grid-template-rows: 2fr 2fr 2fr;
    gap: 15px;
   
}
#pro h4{
    color: #3F55AF;
}
.section
{
    /* background-color: rgb(173, 139, 139); */
    /* border:1px solid #3F55AF; */
    height: auto;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
}

.image 
{
    border: 1px solid rgb(195, 197, 198);
    padding: 3px;
    height: 60px;
    border-radius: 5px;
}
.image img
{
    height: 50px;
    justify-content: center;
}
.presentation
{
    display: flex;
    justify-content: space-between;
}
.description p
{
    text-align: left;
    font-size: 17px;
}
.description
{
    margin-left: 15px;
}
.card-header{
    background-color: #3F55AF;
    color: white;
}
.lien-icone img
{
    width: 30px;
    height: 30px;
}
.cours
{
    display: grid;
    gap: 10px;
}
.bordure
{
    border: 1px solid #D9EDF7;
}
.color
{
    background-color: #D9EDF7;
    color: #31708F;
}
.lien-icone a
{
    text-decoration: none;
    color: #3F55AF;
}
.lien-icone a:hover
{
    color: #2B3A77;
    text-decoration: underline;
}
.video
{
    border: 1px solid rgb(207, 206, 206);
    height: 500px;
    width: 100%;

}
.info
{
    border:1px solid rgb(207, 206, 206);
    height: 390px;
    width: 95%;
    margin: 20px;
    background-color: #F5F5F5;
}
.info p{
    padding: 20px;
    text-align: center;
}
.content-icone
{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 25px;

}
.liste
{
    background-color: gray;
    border-radius: 50px;
    width: 45px;
    height: 45px;
    text-align: center;
}
.liste i
{
    font-size: 25px;
    color: white;
}
.liste span
{
    text-align: center;
    font-size: 9px;
   
}
.btn-panier
{
    background-color: #3A4FA2;
    color: white;
    display: block;
    margin: 0 auto;
}
.temoignage
{
    margin-top: -100px;
    text-align: center;
    padding: 20px;
}
.btn-temoin{
    border: 1px solid #3A4FA2;
    color: #6B8BCA;
    display: block;
    margin: 0 auto;
}
.btn-temoin:hover
{
    background-color: #32438A;
    color: white;
}
/* debut css footer */
footer{
    margin-bottom: 0 ;
}
.pieds{
    display: flex;
    background-color: #F5F8FA;    
    width: 100%;
    height: 400px;
    margin-top: 40px;
    padding-top: 30px;
    box-shadow: #44A8B3;
}
footer h4{
    font-size: 25px;
    margin-top: 12px;
    margin-left: 8px;
}
.pied1{
    margin-left: 150px;
    padding-top: 12px ;
}
.pied1 h6{
    padding-left: 10px;
}
.facebook-icon{
    margin-left: -6px;
}
.twitter-icon{
    margin-left: -25px;
}
.youtube-icon{
    margin-left: -25px;
}
.github-icon{
    margin-left: -25px;
}
li{
    list-style: none;
}
.txt2{
    margin-left: 40px;
}
.txt3{
    margin-left: 40px;
}
.pied1 i{
    margin-left: 25px;
}
.pied2{
    margin-left: 190px;
}
.pied2 h4{
    margin-right: 10px;
}
.pied3{
    margin-left: 20px;
}
a{
    text-decoration: none;
}
.txt3 a:hover{
    text-decoration: underline;
    color: red !important;
}
.cloche{
    font-size: 17.5px;
    font-weight: 400;
    margin-top: -175px;
    margin-left: 150px;
}
.form{
    display: flex;
}
.form i{
    padding-right: 10px;
}
.envoyer{
    width: 20%;
    height: 35px;
    padding: 2px 10px;
    font-size: 15px;
    background-color: #32438a;
    border: 1px solid #32438A;
    color: #fff;
    margin-left: 55px;
    margin-top: -4px;
}
.form input{
    width: 470px;
    height: 34px;
    margin-left: 152px;
}
/* fin css footer */