   /* css navbar */
   header {
       position: fixed;
       z-index: 1;
       width: 100%;
       top: 0;
       left: 0;
   }

   #nav {
       color: #707370;
       padding-left: 100px;
   }

   #nav:hover {
       color: white;
   }

   i:hover {
       color: white;
   }

   #nav-item {
       color: #707370;
       padding-left: 600px;
   }

   #nav-item a:hover {
       color: white;
   }

.containt {
    margin-top: 130px;
}

.contenu {
    display: grid;
    grid-template-columns: 6fr 3fr;
    /* border: 1px solid red; */
    height: 1500px;
    gap: 20px;

}

.left {
    /* border: 1px solid #3F55AF; */
    height: 850px;
    display: grid;
    grid-template-rows: 4fr 4fr 4fr 4fr;
    gap: 15px;
}

.right {
    /* border: 1px solid rgb(80, 230, 35); */
    width: 100%;
    height: 760px;
    display: grid;
    grid-template-rows: 2fr 2fr 2fr;
    gap: 15px;

}
.article
{
    /* background-color: blueviolet; */
    height: auto;
}
.beneficiare
{
    /* background-color: rgb(3, 3, 3); */
    height: auto;
}
.detail
{
    /* background-color: blue; */
    height: auto;
}
.info
{
    /* background-color: rgb(255, 146, 14); */
    height: auto;
}

.section {
    /* background-color: rgb(173, 139, 139); */
    /* border:1px solid #3F55AF; */
    height: auto;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
}
#bordure 
{
    background-color: #D9EDF7;
    color: #31708F;
}

#cadre 
{
    border: 1px solid #D9EDF7;
}
#header 
{
    background-color: #3F55AF;
    color: white;
    border: 1px solid #3F55AF;
}

#link 
{
    text-decoration: none;
    color: #4555B2;
    font-size: 13px;
}

.total 
{
    border: 1px solid rgb(207, 206, 206);
    height: 80px;
    width: 100%;
    background-color: #F5F5F5;
}

.total .consigne p {
    font-size: 1.3em;
    color: #3F55AF;
    font-weight: bold;
    text-align: end;
    padding: 20px;
    margin-right: 20px;
}
#lien
{
    text-decoration: none;
    font-size: 13px;
    color: #3F55AF;
}
#lien:hover
{
    text-decoration: underline;
}
.consigne
{
    border: 1px solid rgb(207, 206, 206);
    height: 100px;
    width: 100%;
    background-color: #FCF8E3;
}
.consigne p {
    
    padding: 20px;
    color: #8A6D3B;

}
#border
{
    border: 1px solid #3F55AF;
    /* color: white; */
}
#btn-payer
{
    background-color: #44A8B3;
    color: white;
}
hr{
    border: 1px solid #bfb8b8;
}
/* footer */
footer {
    margin-bottom: 0;
}

.pieds {
    display: flex;
    background-color: #F5F8FA;
    width: 100%;
    height: 400px;
    margin-top: 40px;
    padding-top: 30px;
    box-shadow: #44A8B3;
}

footer h4 {
    font-size: 25px;
    margin-top: 12px;
    margin-left: 8px;
}

.pied1 {
    margin-left: 150px;
    padding-top: 12px;
}

.pied1 h6 {
    padding-left: 10px;
}

.facebook-icon {
    margin-left: -6px;
}

.twitter-icon {
    margin-left: -25px;
}

.youtube-icon {
    margin-left: -25px;
}

.github-icon {
    margin-left: -25px;
}

li {
    list-style: none;
}

.txt2 {
    margin-left: 45px;
}

.txt3 {
    margin-left: 45px;
}

.pied1 i {
    margin-left: 25px;
}

.pied2 {
    margin-left: 190px;
}

.pied3 {
    margin-left: 20px;
}

.pieds a {
    text-decoration: none;
}

.txt3 a:hover {
    text-decoration: underline;
    color: red !important;
}

.cloche {
    font-size: 17.5px;
    font-weight: 400;
    margin-top: -175px;
    margin-left: 150px;
}

.form {
    display: flex;
}

.form i {
    padding-right: 10px;
}

.envoyer {
    width: 20%;
    height: 35px;
    padding: 2px 10px;
    font-size: 15px;
    background-color: #32438a;
    border: 1px solid #32438A;
    color: #fff;
    margin-left: 55px;
    margin-top: -4px;
}

.form input {
    width: 470px;
    height: 34px;
    margin-left: 152px;
}